<!-- 主页 -->

{{template "header" .}}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">管理员</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/admin" class="btn btn-primary">管理员入口</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">用户</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="/user" class="btn btn-primary">用户入口</a>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}