{{template "header" .}}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">投票</h1>
    <p class="lead">本次投票公平有效</p>
</div>
    <div class="container">
        <div class="card-deck mb-3 text-center">

        {{range .candidates}}
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">候选人</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>姓名:{{.Name}}</li>
                        <li>身份证号码:{{.IdCard}}</li>
                        <li>性别:{{.Gender}}</li>
                        <li>简介:{{.Content}}</li>
                        <li>得票数:{{.VoteCount}}</li>
                    </ul>
                <!--    <a href="/vote?op=vote&name={{.Name}}"><button type="submit" class="btn btn-lg btn-block btn-outline-primary">投票</button></a> -->
                </div>
            </div>
           {{end}}

    <div class="container" >
        <form method="post" action="/vote/v">
            <div class="input-group mb-3">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" name="name">
                        <option selected>Choose...</option>
                    {{range .candidates}}
                        <option value={{.Name}}>{{.Name}}</option>
                    {{end}}
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">投票</button>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >私 钥</span>
                </div>
                <input type="text" size="140" class="form-control" placeholder="私 钥" name="privateKey">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >公钥X</span>
                </div>
                <input type="text" size="140" class="form-control" placeholder="公钥X" name="publicKeyX">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >公钥Y</span>
                </div>
                <input type="text" size="140" class="form-control" placeholder="公钥Y" name="publicKeyY">
            </div>
        </form>
    </div>

      </div>
        <a href="/vote?op=genKey"><button type="submit" size="150" class="btn  btn-outline-primary">生成公私钥</button></a>

        {{if .priv}}
            <form method="post" action="/vote/insertKey">
                <div class="form-group">
                    <label for="exampleInputPassword1">私钥</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="priv" VALUE="{{.priv}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">公钥X</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="publicKeyX" VALUE="{{.publicKey_x}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">公钥Y</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="publicKeyY" VALUE="{{.publicKey_y}}">
                </div>
                <button type="submit" class="btn  btn-outline-primary">上传公钥</button>
            </form>
        {{end}}
    </div>


{{template "footer" .}}